.container {
  display: grid;
  grid-template:
    [row1-start] "header header header" 15% [row1-end]
    [row2-start] "main main side-nav" 80% [row2-end]
    [ro3-start] "footer footer footer" 5% [row3-end]
    / auto auto 20%;
  background-color: white;
  color: blueviolet;
  height: 100vh;
  width: 100vw;
}

.box {
  color: black;
  font-family: Arial, sans-serif;
}

.header {
  grid-area: header;
  background-color: black;
}

.header h1 {
  text-align: center;
  color: #e7d4bf;
  font-size: 40px;
}

.main {
  grid-area: main;
  background-color: #e7d4bf;
  color: black;
  overflow: scroll;
  padding: 30px;
}

.main .postSummary {
  padding: 20px 20px 20px 20px;
  border: dotted 1px black;
  margin-bottom: 30px;
  height: 300px;
}

.img {
  height: 250px;
  float: right;
  margin-left: 50px;
  margin-bottom: 30px;
}

.img-blog {
  height: 600px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.main h1 {
  font-size: 28px;
  color: black;
  font-weight: bold;
}

.summary {
  font-size: 18px;
  color: #6b4112;
}

.date {
  font-size: 14px;
  color: #6b4112;
}

.side-nav {
  grid-area: side-nav;
  background-color: #6b4112;
  padding: 20px 20px 20px 20px;
}

.footer {
  grid-area: footer;
  background-color: black;
}

.footer p {
  color: white;
  font-size: 12px;
  text-align: center;
}
